body { 
background-image: url(../images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg);
background-size: cover;
min-height: 100vh;

}

.title {
color: antiquewhite;

h2 {

    color: antiquewhite;
}


}
.navbar {

background-color: black;

}

.previous {

  list-style: none;
}