body { 
background-image: url(../images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg);alt="Movie Theatre background";
background-size: cover;
min-height: 100vh;
/* font styyling changes  */
font-family:Roboto, Georgia, 'Times New Roman', Times, serif;
font-style:italic;

}

.title {
color: #fff;
}

h2 {

    color: #fff;
};


.navbar {

background-color: black;

}

.moviePoster, .beer5Poster {
    height: 700px;
    width: 600px;
}

.previous {

  list-style: none;
}